logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
conf/secrets.conf
/RUNNING_PID

project/project
tmp
.history
dist
/.idea
/*.iml
/out
test-2.11
app-2.11
/project/*-shim.sbt
*-shim.sbt
.DS_Store
npm_modules