@(personForm: Form[PersonData])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/index.css")'>
<script src='@routes.Assets.versioned("javascripts/index.js")' type="text/javascript"></script>
<ul id="persons">

</ul>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                vehicula tellus ut orci auctor dictum. Sed ipsum ipsum, posuere ut eros
                eu, ornare bibendum massa. Donec eu rhoncus magna. Vivamus mauris quam,
                dictum in vestibulum et, auctor malesuada purus. Proin iaculis nibh et
                semper pretium. Sed sit amet libero et felis luctus dignissim. Duis quis
                rhoncus turpis. Praesent eu interdum est, quis feugiat mi. Suspendisse
                fringilla molestie turpis convallis lobortis. Sed cursus odio nec tortor
                pharetra viverra. Nulla lacinia a sapien id condimentum. Integer urna
                sapien, molestie a turpis sed, cursus adipiscing nisl.
            </p>

            <p>
                Praesent porta placerat nulla, a vulputate tortor auctor et. Suspendisse
                vitae ligula arcu. Proin fermentum sem vel enim eleifend, fermentum
                lobortis tortor aliquet. Sed eleifend tristique mauris quis egestas. Sed
                eleifend vestibulum ipsum ac sagittis. Sed varius, est sit amet lobortis
                vehicula, risus leo laoreet est, eget faucibus magna massa vel neque.
                Aenean vehicula nisi vitae elit ultricies, quis suscipit massa
                convallis. Phasellus mauris sapien, elementum vitae scelerisque eget,
                fermentum sit amet sapien. Etiam eget consequat urna. Suspendisse id
                semper nunc. Pellentesque et bibendum diam. Integer porttitor neque nec
                nunc ultrices convallis. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Maecenas dignissim adipiscing
                feugiat. Mauris a tincidunt enim, id fringilla elit. Lorem ipsum dolor
                sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
            @if(personForm.hasGlobalErrors) {
            <ul>
                @personForm.globalErrors.foreach { error =>
                <li>error.message</li>
                }
            </ul>
            }
            @helper.form(action = routes.Application.addPerson()) {
           <!-- <form action="routes.Application.addPerson()" method="POST"> -->
                <fieldset>
                <h4>@Messages("signup.hearaboutlaunch")</h4>
                @inputText(
                    personForm("firstname"), '_label -> Messages("person.firstname"),
                    'placeholder -> Messages("person.enterfirstname"),
                    '_showErrors -> true, '_showConstraints -> true
                )

                @inputText(
                    personForm("lastname"), '_label -> Messages("person.lastname"),
                    'placeholder -> Messages("person.enterlastname"), '_showErrors -> true,
                    '_showConstraints -> true
                )
                @inputText(
                    personForm("email"), '_label -> Messages("email.email"),
                    'placeholder -> Messages("email.enteremail"), '_showErrors -> true,
                    '_help -> Messages("email.enteremail")
                )
                </fieldset>

                <div class="buttons">
                    <input type="submit" value='@Messages("people.addperson")'/>
                </div>
            <!-- </form> -->
            }

        </div>
    </div>
</div>
}
